/* line 1, ../scss/base/_base.scss */
main {
  height: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../scss/base/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../scss/base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 31, ../scss/base/_reset.scss */
body,
html {
  height: 100%;
}

/* line 34, ../scss/base/_reset.scss */
body {
  line-height: 1;
  background-image: url("http://albums.tapuz.co.il/mfhp-webbuilder/5/5/f/5/1420348091.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  color: rgb(243, 232, 217);
}

/* line 37, ../scss/base/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 40, ../scss/base/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 44, ../scss/base/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 48, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
main {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 30px;
}

.input-section {
  border-radius: 7px;
  background: rgb(81, 81, 122);
  color: white;
  min-height: 30px;
  padding: 5px;
  margin: 5px;
}

.input-section input {
  border-radius: 4px;
  background: rgb(211, 124, 219);
  color: rgb(245, 245, 240);
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  border: 1px solid rgb(245, 245, 240);
  outline-offset: 0;
  height: 30px;
}

.input-section input:focus{
  outline: none;
}

.message,
.loader{
  width: 50px;
  display: none;
  color: red;
  position: absolute;
  top: 66px;
  left: calc(28% - 20px)
}

.select-section {
  margin: 0 auto;
}

h3.city-name{
  margin: 5px auto;
  text-align: center;
  color: aliceblue;
  font-size: 2em;
}

.select-section ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item-comp-div,
.li-item {
  border-radius: 7px;
  background: rgb(81, 81, 122);
  color: white;
  min-height: 30px;
  padding: 10px;
  margin: 8px;
  border: none;
  font-size: medium;
}

.li-item:hover {
  background: rgb(45, 45, 73);
}

.forcast-ul {
  display: flex;
  justify-content: space-between;
}

.item-comp-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 170px;
  width: 140px;
  box-shadow: 5px -3px 71px rgba(62, 100, 72, 0.33);
  overflow: hidden;
}

.item-comp-div img {
  height: 30%;
}

@media (max-width: 1100px){
  .message,
  .loader{
    top: 67px;
    left: calc(39.5% - 25px);
  }
}

@media (max-width: 790px){

  main{
    width: 85%;
  }

  .message,
  .loader{
    top: 67px;
    left: calc(50% - 25px);
  }
  .item-comp-div{
    width: 110px;
    margin: 5px;
  }
}

@media (max-width: 477px) {

  main{
    width: 90%;
  }

  .input-section input {
    width: 100%;
  }

  .message,
  .loader{
    top: 82px;
  }

  .item-comp-div{
    width: 99px;
  }
}

